.location-col,
.activities-col,
.intensity-col {
	border-right: 1px solid #ccc;
}

input[type="text"] {
	background: transparent;
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.dollar-signs {
	font-size: 30px;
}

.dollar,
.intensity {
	cursor: pointer;
	font-size: 18px;
}

.dollar.active,
.dollar:hover {
	color: rgb(14, 220, 14);
}

.intensity-ratings {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.intensity.active,
.intensity:hover {
	color: rgb(14, 220, 14);
}

.logo-col {
	display: flex;
	align-items: center;
}

.logo-col img {
	max-width: 120px;
	margin-right: 50px;
}

.search-account-col {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

@media (min-width: 768px) {
	.logo-col {
		padding-right: 20px;
	}

	.search-account-col {
		padding-left: 20px;
	}
}

@media (max-width: 767px) {
	.logo-col,
	.search-account-col {
		padding: 10px 5px;
	}

	.search-account-col .navbar-collapse {
		margin: 10px 0;
	}

	.search-account-col .navbar-nav {
		flex-direction: column;
	}

	.logo {
		max-width: 120px;
	}
}

.search-col {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.search-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 5px;
}

.logo {
	max-width: 180px;
}

.search-button img {
	width: 50px;
	fill: rgb(14, 220, 14);
}

.right {
	margin-left: 70px !important;
}
